.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20.375rem;
  height: 17.5rem;
  padding: 1.75rem;
  background-color: #fff;
  cursor: grab;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: -0.25rem;
}

.top h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.info,
.description {
  font-size: 0.875rem;
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.info {
  margin-bottom: 0.5rem;
  font-weight: 500;
  -webkit-line-clamp: 2;
}

.description {
  font-weight: 400;
  -webkit-line-clamp: 4;
}

@media (max-width: 425px) {
  .slide {
    width: 100%;
    padding: 1.25rem;
  }
}
