.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--header-bgr);
  font-family: var(--font-roboto);
  font-size: 1em;
  margin: 0 auto;
  z-index: 200;
}

.navWrapper {
  width: var(--wrap-max-width);
  margin: 0 auto;
  padding: 0 1px;
}
