.container {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 36px;
  max-width: 73.754%;
  transition: transform 0.7s;
}

.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 1.563rem;
  border: none;
  background-color: transparent;
}

.loginBtn span {
  font-size: 0;
}

.loginImg {
  display: block;
  width: 100%;
  height: auto;
}

.separatop {
  display: none;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  order: 1;
}

.containerClose,
.containerOpen {
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 3.765%;
  width: 100%;
  max-width: 100%;
  background-color: var(--header-bgr);
  transition: transform 1s;
}

@media (max-width: 425px) {
  .container {
    position: absolute;
    flex-direction: column;
    top: 400%;
    left: 0;
    padding: 0 3.765%;
    width: 92.471%;
    max-width: 100%;
    background-color: var(--hr-bgr-color);
  }

  .loginBtn {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 7px;
    width: 1.563rem;
    order: 0;
  }

  .separatop {
    display: block;
  }

  .containerClose {
    transform: translateY(-458px);
  }

  .containerOpen {
    transform: translateY(0);
  }
}

@media (max-width: 375px) {
  .containerClose {
    transform: translateY(-450px);
  }
}
@media (max-width: 325px) {
  .containerClose {
    transform: translateY(-439px);
  }
}
