.navList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--desc-text-color);
}

@media (max-width: 425px) {
  .container {
    width: 100%;
    order: 1;
  }

  .navList {
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
