.navList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--desc-text-color);
}

.navItem {
  position: relative;
  padding: 0.74rem 0;
  margin-right: 10.91%;
}

.navButton {
  position: relative;
  display: flex;
  align-items: center;
}

.navButton span {
  margin-right: 2px;
}

.arrow {
  display: block;
  width: 1.25rem;
  height: auto;
}
.navButton span {
  white-space: nowrap;
}

.subList {
  display: none;
}

.navItem:hover .subList {
  display: block;
}

@media (max-width: 425px) {
  .container {
    width: 100%;
    order: 1;
  }

  .navList {
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .navItem {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 0;
    border-bottom: 1px solid var(--gray);
  }

  .navItem:last-child {
    border-bottom: none;
  }

  .navButton {
    justify-content: flex-end;
    flex: 1;
    cursor: pointer;
  }

  .navButton span {
    padding: 24px 0;
  }
}
