.overlayClose {
  position: absolute;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all var(--tarnsition);
  z-index: 1;
}

.overlayOpen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all var(--tarnsition);
  z-index: 1;
}
