.subList {
  position: absolute;
  top: 49px;
  left: 0;
  list-style: none;
  width: 278px;
  padding: 15px 0;
  background-color: var(--bgr-color);
  box-shadow: var(--submenu-shadow);
}

.subItem {
  padding: 7px 30px;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  transition: all 0.3s;
}

.subItem:first-child {
  color: var(--desc-text-color3);
  font-size: 16px;
  font-weight: 700;
}

.subItem:not(.subItem:first-child):hover {
  background: var(--submenu-bgr);
  color: var(--desc-text-color3);
}

.subItem:last-child {
  margin-bottom: 0;
}
