.wrapper {
  width: var(--wrap-max-width);
  margin: 0 auto;
}

.container {
  padding: 68px 0;
}

.slideContainer {
  background-color: var(--bgr-color);
}

.slide {
  display: flex;
}

.slide img {
  width: 440px;
}

.article {
  position: relative;
  padding: 24px 32px;
  font-family: var(--font-roboto);
  color: var(--desc-text-color);
}

.article h2 {
  width: 56%;
  margin-bottom: 81px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: 0.44px;
  text-transform: none;
}

.article p {
  max-width: 426px;
  margin-left: 321px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.article img {
  position: absolute;
  left: 32px;
  bottom: 28px;
  width: 24px;
  height: auto;
  padding: 3px;
}

@media (max-width: 425px) {
  .wrapper {
    width: 100vw;
  }

  .container {
    padding: 533px 1rem;
    padding-bottom: 0;
  }

  .slide {
    flex-direction: column;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .slide img {
    width: 343px;
    height: 156px;
  }

  .article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 12px 27px 16px 16px;
    font-family: var(--font-roboto);
    color: var(--desc-text-color);
  }

  .article h2 {
    width: initial;
    margin-bottom: 32px;
    margin-right: 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.5px;
    text-transform: none;
  }

  .article p {
    max-width: 236px;
    margin-left: 64px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .article img {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 24px;
    height: auto;
    padding: 3px;
  }
}
