.title {
  width: 841px;
  padding-top: 123px;
  margin-bottom: 30px;
  font-family: var(--font-sf);
  font-size: 52px;
  font-weight: 500;
}

.btnSearch {
  display: block;
  width: 260px;
  padding: 18px 70px;
  margin-bottom: 180px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid var(--desc-text-color3);
  color: var(--desc-text-color3);
  font-family: var(--font-roboto);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.btnSearch {
  transition: all 0.15s;
}

.btnSearch:hover {
  background: var(--desc-text-color3);
  color: var(--bgr-color);
  transform: scale(1.01);
}

.description {
  max-width: 456px;
  margin-bottom: 11px;
  font-family: var(--font-sf);
  font-size: 14px;
  font-weight: 400;
  line-height: 20.5px;
  letter-spacing: 0.42px;
  color: var(--desc-text-color2);
}

.contactInfo {
  margin-bottom: 55px;
  color: var(--text-color);
  font-family: var(--font-sf);
  font-size: 14px;
  font-weight: 400;
  line-height: 20.5px;
  letter-spacing: 0.42px;
}

.image {
  position: absolute;
  width: 559px;
  top: 0;
  left: 812px;
}

.image img {
  width: 100%;
  height: auto;
}
