:root {
  --max-width: 1440px;
  --display-color: rgba(255, 0, 0, 0.2);
  --bgr-color: #fff;
  --header-bgr: #f4f7fc;
  --main-bgr-color: #9daac0;
  --text-color: #000000;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --desc-text-color: #313131;
  --desc-text-color2: #737373;
  --submenu-bgr: #eef8ff;
  --submenu-shadow: 0px 6px 24px 0px rgba(97, 115, 147, 0.12);
  --desc-text-color3: #0097ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  margin: 0 auto;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  background-color: var(--main-bgr-color);
}
