.button {
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 5px 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: var(--header-bgr);
}

.button span {
  display: block;
  width: 24px;
  height: 2px;
  font-size: 0;
  background-color: black;
  transform-origin: center center;
  transition: width var(--transition) ease-in-out,
    background var(--transition) ease-in-out,
    transform var(--transition) ease-in-out, top var(--transition) ease-in-out;
}

.button::after,
.button::before {
  position: absolute;
  content: '';
  left: 0;
  width: 24px;
  height: 2px;
  background-color: black;
  transform-origin: center center;
  transition: width var(--transition) ease-in-out,
    background var(--transition) ease-in-out,
    transform var(--transition) ease-in-out, top var(--transition) ease-in-out,
    bottom var(--transition) ease-in-out, right var(--transition) ease-in-out,
    left var(--transition) ease-in-out;
}

.button::after {
  top: 5px;
}

.button::before {
  bottom: 5px;
}

.button:hover span {
  display: none;
  transform: rotate(45deg);
}

.button:hover::after {
  top: 11px;
  left: 10px;
  width: 16px;
  transform: rotate(-45deg);
}
.button:hover::before {
  width: 16px;
  right: 10px;
  bottom: 11px;
  transform: rotate(45deg);
}

.buttonOpen span {
  display: none;
}

.button.buttonOpen::after {
  top: 11px;
  transform: rotate(-45deg);
}

.button.buttonOpen::before {
  bottom: 11px;
  transform: rotate(45deg);
}

.button.buttonOpen:hover:after {
  top: 11px;
  transform: rotate(45deg);
}

.button.buttonOpen:hover::before {
  bottom: 11px;
  transform: rotate(-45deg);
}

@media (max-width: 425px) {
  .button {
    display: block;
  }
}
