.article {
  position: relative;
  color: var(--desc-text-color);
  font-family: var(--font-roboto);
  font-style: normal;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.navContainer h3 {
  font-size: 25px;
}

.linkTitle {
  font-size: 0.75rem;
  letter-spacing: 0.12px;
}

.navContainer h3,
.linkTitle {
  font-weight: 400;
  line-height: 130%;
}

.sliderContainer {
  position: relative;
  margin-bottom: 68px;
}

@media (max-width: 425px) {
  .navContainer h3 {
    font-size: 1.31rem;
    line-height: 132%;
  }

  .sliderContainer {
    width: 93.295%;
    margin-bottom: 40px;
  }
}
