.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--wrap-max-width);
  padding: 2em 0;
  background-color: var(--header-bgr);
  z-index: 1;
}

.logo {
  width: 41px;
  height: 45px;
}
