.link {
  display: block;
  margin: 0;
  padding: 2.522% 10.81%;
  text-decoration: none;
  color: var(--main-text-color);
  transition: all var(--transition);
}

.link span {
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  transition: all var(--transition);
}

.link:hover {
  background-color: var(--submenu-bgr);
}

.link:hover span {
  color: var(--desc-text-color3);
}

span.active {
  font-weight: 700;
  color: var(--desc-text-color3);
}

@media (max-width: 425px) {
  .link {
    padding: 11px 12px;
    border-right: 1px solid var(--gray);
  }
}
