.wrapper {
  width: var(--wrap-max-width);
  margin: 0 auto;
}

.container {
  padding-bottom: 96px;
  color: var(--desc-text-color);
  font-family: var(--font-roboto);
  font-style: normal;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.head h2,
.head a {
  font-weight: 400;
}

.head h2 {
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.head a {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.12px;
}

@media (max-width: 425px) {
  .wrapper {
    width: 100vw;
    padding: 0;
    padding-bottom: 60px;
    overflow: hidden;
  }

  .container {
    padding: 0 1rem;
  }

  .head h2 {
    font-size: 22px;
    line-height: 125%;
    letter-spacing: 0.3px;
  }

  .sliderContainer {
    width: 93.295%;
  }
}
