.slide {
  display: flex;
  flex-direction: column;
  width: 326px;
  height: 232px;
  background-color: #fff;
  padding: 24px 28px;
}

.top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: auto;
}

.top span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.12px;
  color: var(--desc-text-color2);
  border-radius: 24px;
  border: 1px solid var(--tags-border-color);
}

.slide h3 {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.bottom,
.companies,
.fte,
.rate {
  display: flex;
  justify-content: space-between;
}

.companies,
.fte,
.rate {
  flex-direction: column;
}

.number,
.quantity,
.price {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.companies .title,
.fte .title,
.rate .title {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: var(--desc-text-color2);
}
