.footer {
  background-color: var(--main-bgr-color);
  font-family: var(--font-roboto);
  font-weight: 400;
  color: var(--desc-text-color);
}

.wrapper {
  position: relative;
  width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 2.56%;
}

.wrapper::after {
  position: absolute;
  content: '';
  display: block;
  top: 8px;
  left: 0;
  width: 2.7%;
  height: 4px;
  background-color: var(--bgr-color);
}

.wrapper::before {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  right: 0;
  width: 71.8%;
  height: 8px;
  background: linear-gradient(
    to right,
    var(--desc-text-color3) 95%,
    transparent 100%
  );
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 28.1%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.symbol {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.12px;
}

.title {
  margin-left: 15px;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0.2px;
}

.date {
  margin-left: 91px;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0.2px;
}

.logo {
  margin-left: 49.3%;
  margin-right: auto;
}

@media (max-width: 425px) {
  .wrapper {
    width: 100vw;
    overflow: hidden;
  }

  .wrapper::after {
    top: 6px;
    left: 0;
    width: 40px;
  }

  .wrapper::before {
    bottom: 0;
    right: 0;
    width: 72.8%;
    height: 8px;
    background: var(--desc-text-color3);
  }

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 27.2%;
  }

  .info {
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }

  .title {
    margin-left: 15px;
  }

  .date {
    margin-left: 42px;
  }

  .logo {
    margin: 0;
    margin-bottom: 1.25rem;
  }
}
