.actionContainer {
  position: relative;
  top: 25px;
}

.actionBtnList {
  width: 100%;
  list-style: none;
  display: flex;
}

.actionBtnItem {
  position: relative;
  flex: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bgr-color);
  transition: background var(--transition);
  transition: transform var(--transition) cubic-bezier(0.42, 0, 0.58, 1);
}

.actionBtn {
  position: relative;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 30px;
  color: var(--desc-text-color);
  font-family: var(--font-roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 0;
}

.divider {
  position: absolute;
  width: 1px;
  height: 90.5%;
  top: 4.7%;
  right: 0;
  border-left: 1px solid #ededed;
}

.actionBtnItem:last-child .divider,
.actionBtn:hover .divider {
  display: none;
}

.actionBtnItem:hover {
  z-index: 1;
}

.actionBtnItem:hover .background {
  background-color: var(--desc-text-color3);
  transform: scale(1.02);
}

.actionBtn,
.actionBtn svg path,
.actionBtn svg rect {
  transition: background var(--transition);
  transition: color var(--transition);
  transition: transform var(--transition) cubic-bezier(0.42, 0, 0.58, 1);
}

.actionBtn:hover {
  color: var(--bgr-color);
}

.actionBtn:hover > svg path,
.actionBtn:hover > svg rect {
  stroke: var(--bgr-color);
}

.actionBtn span {
  text-align: left;
}

@media (max-width: 425px) {
  .actionContainer {
    order: 2;
    top: 0;
    margin-bottom: -465px;
  }

  .actionBtnList {
    flex-direction: column;
  }

  .actionBtn {
    height: 116px;
    padding: 19px 18px;
  }

  .br {
    display: none;
  }

  .divider {
    width: 94.17%;
    top: initial;
    bottom: 0;
    left: 2.92%;
    right: initial;
    border-left: none;
    border-bottom: 1px solid #ededed;
  }
}
