.wrapper {
  width: var(--wrap-max-width);
  margin: 0 auto;
}

.container {
  padding-bottom: 104px;
  color: var(--desc-text-color);
  font-family: var(--font-roboto);
  font-style: normal;
}

.sectionTitle {
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.sectionFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-right: 30px;
}

.line {
  width: 136px;
  height: 0;
  margin-right: 24px;
  border-bottom: 1px solid var(--desc-text-color);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  border-radius: 20px;
  border: 1px solid var(--desc-text-color);
  background-color: transparent;
  transition: all var(--transition);
}

.link:hover {
  color: var(--bgr-color);
  border: 1px solid var(--desc-text-color3);
  background-color: var(--desc-text-color3);
}
