.subList {
  position: absolute;
  top: 100%;
  left: -15.7%;
  width: 242.47%;
  margin: 0;
  padding: 13.09% 0;
  list-style: none;
  background-color: white;
}

@media (max-width: 425px) {
  .subList {
    position: static;
    width: 100%;
    margin-top: -8px;
    padding: 16px 18px;
    padding-top: 0;
    text-align: end;
    background-color: var(--header-bgr);
  }
}
