.slide {
  display: flex;
  flex-direction: column;
  width: 27.5rem;
  height: 24rem;
  background-color: #fff;
  cursor: grab;
}

.top {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 1.5rem 2rem;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.head h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.head .date {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.12px;
}

.description {
  width: 18.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media (max-width: 425px) {
  .slide {
    width: 100%;
    height: 384px;
  }

  .bottom {
    padding: 1.25rem;
  }

  .head {
    align-items: flex-start;
  }

  .head h3 {
    max-width: 156px;
  }

  .description {
    font-size: 14px;
    line-height: 140%;
  }
}
