.actionContainer {
  position: relative;
  margin-bottom: -25px;
}

.actionBtnList {
  width: 100%;
  list-style: none;
  display: flex;
}

.actionBtnItem {
  flex: 1;
}

.actionBtn {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 30px;
  color: var(--desc-text-color);
  font-family: var(--font-roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  background-color: var(--bgr-color);
  outline: none;
  border: none;
  z-index: 0;
}

.actionBtn,
.actionBtn svg path,
.actionBtn svg rect {
  transition: background var(--transition);
  transition: color var(--transition);
  transition: transform var(--transition) cubic-bezier(0.42, 0, 0.58, 1);
}

.actionBtn:hover {
  background-color: var(--desc-text-color3);
  color: var(--bgr-color);
  z-index: 1;
  transform: scale(1.02);
}

.actionBtn:hover > svg path,
.actionBtn:hover > svg rect {
  stroke: var(--bgr-color);
}

.actionBtn span {
  text-align: left;
}
